<!doctype html>
<html ng-app="mastersApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="moment.js"></script>
    <script src="masters.js"></script>
  </head>
  <body>
    <div ng-controller="MastersController as mastersController">
      <h5>Updated {{mastersController.updateTime}}</h5>
      <h5>Tournament Low Foursome</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.LowTournamentFoursome">{{lowMan.team}} {{lowMan.players}} {{lowMan.score}}</li>
      </ul>
      <br>
      <h5>Round 1 Low Individual</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round1LowMan">{{lowMan.team}} {{lowMan.player}} {{lowMan.score}}</li>
      </ul> 
      <br>
      <h5>Round 1 Low Foursome</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round1LowFoursome">{{lowMan.team}} {{lowMan.players}} {{lowMan.score}}</li>
      </ul>
      <br>
      <h5>Round 2 Low Individual</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round2LowMan">{{lowMan.team}} {{lowMan.player}} {{lowMan.score}}</li>
      </ul>
      <br>
      <h5>Round 2 Low Foursome</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round2LowFoursome">{{lowMan.team}} {{lowMan.players}} {{lowMan.score}}</li>
      </ul>
      <br>
      <h5>Round 3 Low Individual</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round3LowMan">{{lowMan.team}} {{lowMan.player}} {{lowMan.score}}</li>
      </ul>
      <br>
      <h5>Round 3 Low Foursome</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round3LowFoursome">{{lowMan.team}} {{lowMan.players}} {{lowMan.score}}</li>
      </ul>
      <br>
      <h5>Round 4 Low Individual</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round4LowMan">{{lowMan.team}} {{lowMan.player}} {{lowMan.score}}</li>
      </ul>
      <br>
      <h5>Round 4 Low Foursome</h5>
      <ul>
        <li ng-repeat="lowMan in mastersController.pools.round4LowFoursome">{{lowMan.team}} {{lowMan.players}} {{lowMan.score}}</li>
      </ul>
      <br>
    </div>
  </body>
</html>